*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
#table-one{width: 700px;
height: 200px;
background-color: rgb(9, 9, 79);
padding: 20px;
padding-bottom: 5px;

}
#usename{color:rgb(190, 69, 69);font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 700;}
#caption-one{background-color: rgb(9, 9, 79); color: rgb(140, 57, 57);
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-align: center; padding-top: 10px;}
.ths{color: rgb(63, 163, 163); font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-align:left ; background-color: rgb(9, 9, 79);}
.names{color: rgb(214, 69, 69); font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; padding: 5px; font-weight: 500;}
tr,td{border-collapse: separate; border: 1px solid rgb(9, 9, 79);}
table tbody tr:nth-child(odd){background-color:rgb(83, 83, 110) ; color: rgb(189, 183, 183); font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;}
table tbody tr:nth-child(even){background-color: rgb(35, 35, 78); color: rgb(165, 164, 164); font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}