#text-box{width: 450px;height: 700px;}
.title-dis{color: rgb(11, 195, 51); font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
#txt-two{text-align: center;  list-style-position: inside;}
.txt-list{ font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}