#text-box{background-color: rgb(144, 253, 250);width: 700px;height: 700px;}
#title{text-align: center;color: blue;}
#text-dis-one{color: blue;font-weight: 600;}
#fooher-dis{text-align: center;}
#fooher-dis{color: blue; font-family: Georgia, 'Times New Roman', Times, serif; font-weight: 700;}