*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
#org-box{
    margin: auto;
    width: 1000px;
    height: 600px;
    border: 5px solid black;
    margin-top: 10px;
}
#unicode{text-align: center;
font-size: 50px;
margin-top: 30px;
}
.replays{
 margin: auto;
 direction: rtl;
 margin-bottom: 20px;
 margin-top: 20px;
 text-align: center;
 padding-top: 5px;

}
#bule-box{
font-size: 30px;
width: 200px;
height: 50px;
background-color: lightblue;
border-left: 10px solid darkblue;
color: white;
font-weight: 800;
}
#green-box{
    color: white;
    font-size: 23px;
    border-radius: 30px;
    background-color: chartreuse;
    width: 300px;
    height: 50px;
    border: 10px dashed rgb(255, 255, 255);
 border-width: 3px;
 border-bottom: dashed 4px darkgreen;
    
}
#yellow-box{
background-color: yellow;
width: 400px;
height: 50px;
border-radius: 20px 0px ;
border: 5px double red;
font-weight: 700;
font-size: 20px;
}
#dark-yellow-box{
    color: white;
background-color: darkgoldenrod;
width: 500px;
height: 55px;
font-size: 25px;
border: 5px solid darkred;
border-top: 5px dotted darkred;
border-bottom: 4px dashed darkred;

}
#dark-red-box{
    color: white;
    background-color: darkred;
    width: 600px;
    height: 70px;
    font-size: 30px;
border-top: 5px yellow ridge;
border-bottom: 15px yellow ridge;
border-left: 10px yellow ridge;
border-right:  10px yellow ridge;

}